<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ConexionBD" value="Data Source=.\SQL_UAI;Initial Catalog=Energym;User ID=UsuarioEnergym;Password=Energym;"/>
    <add key="ConexionMaster" value="Data Source=.\SQL_UAI;Initial Catalog=master;User ID=UsuarioEnergym;Password=Energym"/>
    
    <add key="ScriptBackup" value="BACKUP DATABASE [FES] TO  DISK = N'{0}{1}' WITH NOFORMAT, NOINIT, SKIP, NOREWIND, NOUNLOAD, STATS = 10" />
    <add key="ScriptRestore" value="ALTER DATABASE [FES] SET SINGLE_USER WITH ROLLBACK IMMEDIATE RESTORE DATABASE [FES] FROM DISK = N'{0}{1}' WITH REPLACE ALTER DATABASE [FES] SET MULTI_USER" />
    <add key="BackupsPath" value="C:\FES\Backups\" />
    <add key="email-usuario" value="fitesol.contacto@gmail.com" />
    <add key="email-contraseña" value="UWl1Fu2/7KWIrsM0E3UKYQ==" />
    <add key="email-asunto" value="FES Contacto" />
    <add key="smtphost" value="smtp.gmail.com" />
    <add key="smtport" value="587" />
    <add key="smtpEnableSsl" value="True" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="asp" assembly="DropDownListChosen" namespace="DropDownListChosen" /></controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime />
  </system.web>
</configuration>